@import 'normalize.css';
@import 'bootstrap';
@import 'base/_mixins.css';
@import 'base/_global.css';
@import 'modules/_fonts';
@import 'modules/_site-header';
@import 'modules/_page-section';
@import 'modules/_home';
@import 'modules/_button';
@import 'modules/_titles';
@import 'modules/_about';
@import 'modules/_services';
@import 'modules/_tecno';
@import 'modules/_portfolio';
@import 'modules/_contact';
@import 'modules/_goup';
@import 'modules/_footer';
