.footer{
    background-color: #000;
    text-align: center;
    position: relative;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @mixin atLarge{
        height: 100px;
    }

    &__paragraph{
        margin-bottom: 0 !important;
        color: #fff;
        margin-top: 10px;

        @mixin atLarge{
            margin-top: 0;
        }
    }
}