.goup{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: red;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;
    transition: all .3s ease-out;
    transform: translateX(-100%);
}

.showup{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
}