.goup{

    .icon-up-thin{
        text-decoration: none !important;
        color: #ffffff;
        background-color: #000;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px; 
        box-shadow: 5px 5px 17px 2px rgba(0,0,0,0.75);
        animation: mymove 2s infinite;
    }
    
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 9;
    transition: all .3s ease-out;
    transform: translateX(150%);
    
}

.showup{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
}

@keyframes mymove {
    0%   {background: rgb(31, 31, 31);}
    50% {background: rgb(145, 145, 145);}
    100%   {background: rgb(31, 31, 31);}
}

