.page-section{
    padding: 72px 0;
    
    @mixin atMedium{
        padding: 85px 0;
    }

    &--footer{
        padding: 30px 0 0 0;

        @mixin atLarge{
            padding: 40px 0;
        }
    }
    
    &--all-h{
        height: 650px;

        @mixin atLarge{
            height: 700px;
        }

        @mixin atXXLarge{
            height: 900px;
        }
    }
}