.page-section{
    padding: 4.2rem 0;
    
    @mixin atMedium{
        padding: 4.5rem 0;
    }
    
    &--all-h{
        height: 650px;

        @mixin atLarge{
            height: 700px;
        }

        @mixin atXXLarge{
            height: 900px;
        }
    }
}