.portfolio{    
    
    &__categories{
        text-align: center;
        margin-bottom: 3rem;
        
        li{
            display: inline-block;
            margin-right: 1.3rem;
            cursor: pointer;
            padding-bottom: .3rem;
            border-bottom: 2px solid #fff;
            transition: all .4s ease-out;
            
            &:hover{
                border-bottom: 2px solid #000;
            }
            
            &:last-child{
                margin-right: 0;
            }
        }
    }
    
    &__item--wrapper{
        text-align: center;
        
        &__section{
            width: 100%;
        }
        
        
        &__img{
            margin-bottom: 1.3rem;
            position: relative;
            filter: grayscale(100%);
            transition: all .4s ease-out;
            
            &:hover{
                filter: grayscale(0);
                transform: scale(0.5);
            }
        }
        
        @mixin atMedium{
            &__section{
                width: auto;
            }
            
            &__img{
                margin-bottom: 2.8rem;
            }
        }
    }
}

.active{
    border-bottom: 2px solid #000 !important;
}