.portfolio{
 
    
    &__grid{
        display: grid;
        height: 100%;
        width: auto;
        grid-gap: 20px 0;

        @mixin atSmall{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 20px;     
        }

        @mixin atLarge{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    &__item{
        height: 300px;
        
        @mixin atLarge{
            &:first-child{
                grid-column: span 2;
                grid-row: span 2;
                height: 620px;
            }
        }

        &__figure{
            height: 100%;
            position: relative;
            overflow: hidden;
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

            &:hover{
                
                .portfolio__item__hover{
                    transform: scale(1);
                }

                .portfolio__item__img{
                    filter: grayscale(0.3) opacity(.9);
                    transform: scale(1.01);
                }
            }
        }

        &__hover{
            position: absolute;
            height: 15%;
            background-color: rgba(0,0,0,0.8);
            bottom: 0;
            left: 0;
            right: 0;
            transition: all .6s ease-out;
            transform: translateY(100%);
            /* transform: translateY(0); */
            color: #fff;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__h3{
                font-size: 1.8rem;
                margin: 0;
            }
        } 

        &__img{
            position: absolute;
            object-fit: cover;            
            width: 100%;
            height: 100%;
            filter: grayscale(1) opacity(1);
            transform-origin: center center;
            transition: all .6s ease-out;

            &--css{
                object-position: left top;
            }
        }

    }
}