.services{
    
    &__item{        
        border-top: 5px solid #000;
        text-align: center;
        padding: 2.9rem 2.5rem;
        transition: all .3s ease-out;
        margin-bottom: 2rem;
        cursor: pointer;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
        min-height: 241px;

        
        @mixin atSmall{
            padding: 2.9rem 11.5rem;
            min-height: 219px;
        }
        
        @mixin atLarge{
            padding: 2.9rem 2.5rem;
            min-height: 241px;
        }

        @mixin atExtraLarge{
            min-height: 219px;
        }
        
        &:hover{
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
        }
    }
    
    &__icon{
        font-size: 2.9rem;
    }
    
    &__title{
        font-weight: 300;
        margin-bottom: 1.4rem;
        letter-spacing: 4px;
    }
    
    &__description{
        line-height: 22px;
    }
}