.site-header{
    position: fixed;
    width: 175px;
    top: 0;
    left: 0;
    z-index: 100;
    
    @mixin atMedium{
        width: auto;
    }
    
    &__menu-icon{
        z-index: 3;
        position: fixed;
        top: 2rem;
        left: 3rem;
        cursor: pointer;
        transition: all .3s ease-out;
        height: 0;
        
        &:after{
            content: '';
            display: block;
            width: 35px;
            height: 10px;
            position: relative;
            top: -30px;
        }
    }
    
    &__primary{
        padding: 54px 0 0 0;
        color: #fff;
        background-color:rgba(23,23,23,.95);
        box-shadow: 3px 4px 5px -2px rgba(143,143,143,1);
        transform: translateX(-110%);
        transition: all .2s ease-out;
        
        @mixin atMedium{
            display: flex;
            justify-content: space-around;
            align-items:  center;
            padding: 0 20px 0 120px;
        }
        
        li{
            list-style: none;
            padding: .8rem 0;
            
            @mixin atMedium{
                float: left;
            }
        }
        
        a{
            color: #fff;
            display: block;
            text-decoration: none;
            padding-left: calc(4rem + 1px);
            
            @mixin atMedium{
                padding-left: 2rem;
                padding-top: .4rem;
            }
            &::before{
                position: relative;
                right: 10px;
                
                @mixin atMedium{
                    display: none;
                }
            }
        }
    }
    
    &--is-expanded{
        .site-header__primary{
            
            transform: translateX(0);
        }
        
        .site-header__menu-icon{
            color: #fff;
        }
        
        .site-header__menu-icon__middle{
            &, &:after, &:before{
                background-color: #fff;
            }
        }
        
    }
    
    &__menu-icon__middle{
        width: 2.7rem;
        height: .2rem;
        background-color: #000;
        position: relative;
        
        &::after{
            content: '';
            width: 2.7rem;
            height: .2rem;
            position: absolute;
            bottom: -.7rem;
            background-color: #000;
        }
        
        &::before{
            content: '';
            width: 2.7rem;
            height: .2rem;
            position: absolute;
            bottom: .7rem;
            background-color: #000;
        }
        
        &, &::before, &::after{
            transition: all .3s ease-out;
        }
    }
    
    &__menu-icon__title{
        position: relative;
        left: 3.4rem;
        bottom: 1.1rem;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    &__nav-menu{
        position: fixed;
        left: 3rem;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        z-index: 3;
        
        li{
            font-size: 1.8rem;
            margin-bottom: 1rem;
            
            &:last-child{
                margin-bottom: 0;
            }
            
            a{
                text-decoration: none;
                cursor: pointer;
                display: block;
                transition: all .2s ease-out;
            }
            
            a:hover{
                color: #000;
                transform: scale(1.1);
            }
        }
        
        @mixin atLarge{
            display: block;
        }
    }
}