.site-header{
    
    &__menu-icon{
        position: fixed;
        top: 2rem;
        left: 3rem;
        cursor: pointer;
    }
    
    &__menu-icon__middle{
        width: 2.7rem;
        height: .2rem;
        background-color: #000;
        position: relative;
        
        &::after{
            content: '';
            width: 2.7rem;
            height: .2rem;
            position: absolute;
            bottom: -.7rem;
            background-color: #000;
        }
        
        &::before{
            content: '';
            width: 2.7rem;
            height: .2rem;
            position: absolute;
            bottom: .7rem;
            background-color: #000;
        }
    }
    
    &__menu-icon__title{
        position: relative;
        left: 3.4rem;
        bottom: 1.1rem;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    &__nav-menu{
        position: fixed;
        left: 3rem;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        
        li{
            font-size: 1.8rem;
            margin-bottom: 1rem;
            
            &:last-child{
                margin-bottom: 0;
            }
            
            a{
                text-decoration: none;
                cursor: pointer;
                display: block;
                transition: all .2s ease-out;
            }
            
            a:hover{
                color: #000;
                transform: scale(1.1);
            }
        }
        
        @mixin atSmall{
            display: block;
        }
    }
}